NUXT_PUBLIC_APP_NAME="Baboons QR-code"
NUXT_PUBLIC_BACKEND_BASE=http://localhost:8000
NUXT_PUBLIC_STORAGE_BASE=http://localhost:8082
NUXT_PUBLIC_PASSPORT_CLIENT_ID=01a07c2a-707b-707a-9058-b333ef132247
NUXT_PUBLIC_PASSPORT_REDIRECT_URI=http://dev.qr-code.com/auth/callback
NUXT_BACKEND_INTERNAL_BASE=http://qr-code-nginx
NUXT_QR_RENDERER_INTERNAL_BASE=http://qr-renderer:3100
NUXT_AUTH_COOKIE_SECURE=false
NUXT_BFF_SHARED_SECRET=
NUXT_QR_RENDERER_SHARED_SECRET=